
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">{{filedetails.name || urlLink.name+urlLink.type || "Google User Account Details"}}</div>
  </div>
  <div class="panel-body"><img ng-if="filedetails.type==&quot;image&quot;" ng-src="{{ filedetails.path }}" class="img-responsive img-rounded"/>
    <video ng-if="filedetails.type==&quot;video&quot;" controls="controls" ng-src="{{ filedetails.path }}" class="img-responsive img-rounded"></video>
    <iframe ng-if="filedetails.type==&quot;html&quot;" ng-src="{{ filedetails.path }}"></iframe>
    <div ng-if="fileType==&quot;link&quot;">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
          <h4 class="text-muted">Address</h4>
        </div>
        <div class="col-xs-8">
          <h4>{{urlLink.link}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
          <h4 class="text-muted">Type</h4>
        </div>
        <div class="col-xs-8">
          <h4>{{urlLink.type == ".tv"?"You Tube":"Web"}}</h4>
        </div>
      </div>
    </div>
    <div ng-if="(fileType==&quot;gcal&quot;) &amp;&amp; calendar.list.length">
      <h4><strong> Profile</strong></h4>
      <div class="media">
        <div class="pull-right"><img ng-src="{{calendar.profile.picture}}" style="width:84px" class="media-object"/></div>
        <div class="media-body pull-left">
          <h4 class="media-heading">  &nbspEmail:&nbsp&nbsp<span ng-bind="calendar.profile.email"></span><br/></h4>
        </div>
      </div>
      <h3>Choose a Calendar for subscribing to Events</h3><br/>
      <ul class="list-group">
        <li ng-repeat="item in calendar.list" class="list-group-item">
          <div class="row">
            <div class="col-sm-8">
              <h4 class="media-heading"><strong>{{item.summary}}</strong></h4>
            </div>
            <div class="col-sm-4">
              <div class="radio">
                <input type="radio" name="email" ng-click="selectedCalendar(item.id)" ng-checked="calendar.selected == item.summary"/>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div ng-show="fileType==&quot;other&quot;" class="col-sm-10">
        <categories selected-labels="selectedLabels"></categories>
      </div>
      <div class="col-sm-2 pull-right">
        <button ng-click="save()" class="btn btn-success pull-right">DONE</button>
      </div>
    </div>
  </div>
</div>