
<div ng-if="!fn.editMode" ng-repeat="(key,obj) in showAssets" class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-1">
        <button ng-click="ngDropdown.clearCheckboxes()" class="btn btn-link"><i class="fa fa-close text-danger"></i></button>
      </div>
      <div class="col-sm-4">
        <h3 class="panel-title">{{key}}&nbsp; Assets&nbsp;<span class="badge">{{obj.assets.length}}</span></h3>
      </div>
      <div ng-show="!selected.playlist" class="col-sm-2 pull-right"><a ng-click="fn.edit()" class="pull-right"><em class="text-danger"> Edit</em></a></div>
      <div ng-if="playlistState &amp;&amp; showAssets['All']" class="col-sm-3 pull-right">
        <div ng-dropdown-multiselect="" options="ngDropdown.playlist.PlaylistTab.playlists" selected-model="ngDropdown.playlist.selectedPlaylists" events="ngDropdown.playlist.events" translation-texts="ngDropdown.playlist.customTexts" extra-settings="ngDropdown.playlist.extraSettings" checkboxes="true" class="pull-right"></div>
      </div>
      <div ng-if="playlistState &amp;&amp; !showAssets['All']" class="col-sm-3 pull-right">
        <!--button.btn.btn-default.pull-right(ng-click="ngDropdown.removeFromPlaylist()"): small.text-danger RemoveFrom Playlist--><a ui-sref="home.assets.playlistAddAssets({playlist:selected.playlist.name})" ui-sref-opts="{reload: true, notify: true}" class="btn btn-primary pull-right">Add/Edit Playlist Assets</a>
      </div>
      <div class="col-sm-2 pull-right">
        <div ng-dropdown-multiselect="" options="ngDropdown.label.Label.labels" selected-model="ngDropdown.label.selectedLabels" events="ngDropdown.label.events" translation-texts="ngDropdown.label.customTexts" extra-settings="ngDropdown.label.extraSettings" checkboxes="true" class="pull-right"></div>
      </div>
    </div>
  </div>
  <ul as-sortable="sortable.options" ng-model="obj.assets" style="min-height:50px;" class="list-group">
    <li ng-repeat="file in obj.assets | filter:labelFilter track by $index" as-sortable-item="as-sortable-item" ng-class="{&quot;list-group-item-danger&quot;:file.deleted}" class="list-group-item">
      <div as-sortable-item-handle="as-sortable-item-handle" class="media">
        <div class="media-body">
          <div class="row">
            <div class="col-sm-1">
              <div ng-if="!playlistState || showAssets['All']" class="checkbox">
                <label>
                  <input type="checkbox" name="checkbox" ng-model="file.selected" ng-change="ngDropdown.checkbox(file)"/>
                </label>
              </div>
            </div>
            <div class="col-sm-5">
              <h4>{{file.fileDetails.name }}<small ng-if="playlistState &amp;&amp; !showAssets['All']">&nbsp;{{file.playlistDetails.side}} &nbsp;{{file.playlistDetails.bottom}}</small></h4>
            </div>
            <div class="col-sm-2">
              <h6 class="text-muted">{{file.fileDetails.size}}</h6>
            </div>
            <div class="col-sm-2">
              <h6 ng-if="file.fileDetails.resolution.width" class="text-muted">{{file.fileDetails.resolution.width}}x{{file.fileDetails.resolution.height}}</h6>
            </div>
            <div ng-if="playlistState &amp;&amp; !showAssets['All']" class="col-sm-2">
              <h6 class="text-muted"> {{file.playlistDetails.duration}} seconds</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7 col-sm-offset-1">
              <h6 class="text-muted">{{file.fileDetails.labels.join(',')}}</h6>
            </div>
            <div class="col-sm-4">
              <h6 class="text-muted">{{file.fileDetails.type}}, &nbsp; {{file.fileDetails.createdAt | date: 'MMM dd'}}</h6>
            </div>
          </div>
        </div>
        <div ng-click="fn.showDetails(file.fileDetails.name)" class="media-right"><a ng-href="#"><img ng-src="{{file.fileDetails.thumbnail}}" class="media-object img-rounded"/>
            <div ng-if="!file.fileDetails.thumbnail" class="letter-box media-object img-rounded">{{file.fileDetails.type.slice(0,1) || 'N'}}</div></a></div>
      </div>
    </li>
  </ul>
  <h6 ng-show="!obj.assets.length" class="text-warning">Nothing to show, Please Add Assets using the Add Asset button in Top Menu bar</h6>
</div>
<div ng-if="fn.editMode" class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title">Rename or delete files, tap Done when completed<a ng-click="fn.edit()" class="pull-right"><strong class="text-success"> Done</strong></a></div>
  </div>
  <ul class="list-group">
    <li ng-repeat="name in names" class="list-group-item">
      <form name="editform" class="row">
        <div ng-class="editform.$dirty?'':fieldStatus" class="form-group col-xs-10">
          <div class="input-group col-xs-12">
            <input type="text" ng-model="name.name" class="form-control"/><span ng-bind="name.ext" ng-hide="editform.$dirty" class="input-group-addon"></span><span ng-click="fn.rename($index)" ng-show="editform.$dirty" class="input-group-btn"><a type="button" class="btn btn-success">SAVE</a></span>
          </div>
        </div>
        <div class="col-xs-2">
          <button ng-click="fn.delete($index)" class="btn btn-danger pull-right"><i class="fa fa-times fa-lg"></i></button>
        </div>
      </form>
    </li>
  </ul>
</div>