.panel.panel-info(ng-if="!fn.editMode",ng-repeat="(key,obj) in showAssets")
    .panel-heading
        .row
            .col-sm-1
                button.btn.btn-link(ng-click="ngDropdown.clearCheckboxes()")
                    i.fa.fa-close.text-danger
            .col-sm-4
                h3.panel-title {{key}}&nbsp; Assets&nbsp;
                    span.badge {{obj.assets.length}}
            .col-sm-2.pull-right(ng-show="!selected.playlist")
                a.pull-right(ng-click='fn.edit()'): em.text-danger  Edit
            .col-sm-3.pull-right(ng-if="playlistState && showAssets['All']")
                div.pull-right(ng-dropdown-multiselect="",
                                options="ngDropdown.playlist.PlaylistTab.playlists",
                                selected-model="ngDropdown.playlist.selectedPlaylists",
                                events = "ngDropdown.playlist.events",
                                translation-texts="ngDropdown.playlist.customTexts",
                                extra-settings="ngDropdown.playlist.extraSettings",checkboxes="true")
            .col-sm-3.pull-right(ng-if="playlistState && !showAssets['All']")
                //button.btn.btn-default.pull-right(ng-click="ngDropdown.removeFromPlaylist()"): small.text-danger RemoveFrom Playlist
                a.btn.btn-primary.pull-right(ui-sref="home.assets.playlistAddAssets({playlist:selected.playlist.name})",
                                                            ui-sref-opts="{reload: true, notify: true}") Add/Edit Playlist Assets
            .col-sm-2.pull-right
                div.pull-right(ng-dropdown-multiselect="",
                                options="ngDropdown.label.Label.labels",
                                selected-model="ngDropdown.label.selectedLabels",
                                events = "ngDropdown.label.events",
                                translation-texts="ngDropdown.label.customTexts",
                                extra-settings="ngDropdown.label.extraSettings",checkboxes="true")

    ul.list-group(as-sortable="sortable.options",ng-model="obj.assets",style="min-height:50px;")
        li.list-group-item(ng-repeat='file in obj.assets | filter:labelFilter track by $index',as-sortable-item,
                                ng-class='{"list-group-item-danger":file.deleted}' )
            .media(as-sortable-item-handle)

                .media-body
                    .row
                        .col-sm-1
                            .checkbox(ng-if="!playlistState || showAssets['All']")
                                label
                                    input(type="checkbox",name='checkbox',ng-model="file.selected",
                                                                    ng-change="ngDropdown.checkbox(file)")
                        .col-sm-5
                            h4 {{file.fileDetails.name }}
                                small(ng-if="playlistState && !showAssets['All']")
                                    | &nbsp;{{file.playlistDetails.side}} &nbsp;{{file.playlistDetails.bottom}}
                        .col-sm-2
                            h6.text-muted {{file.fileDetails.size}}
                        .col-sm-2
                            h6.text-muted(ng-if="file.fileDetails.resolution.width")
                                | {{file.fileDetails.resolution.width}}x{{file.fileDetails.resolution.height}}
                        .col-sm-2(ng-if="playlistState && !showAssets['All']")
                            h6.text-muted  {{file.playlistDetails.duration}} seconds
                    .row
                        .col-sm-7.col-sm-offset-1
                            h6.text-muted {{file.fileDetails.labels.join(',')}}
                        .col-sm-4
                            h6.text-muted {{file.fileDetails.type}}, &nbsp; {{file.fileDetails.createdAt | date: 'MMM dd'}}
                .media-right(ng-click='fn.showDetails(file.fileDetails.name)')
                    a(ng-href="#")
                        img.media-object.img-rounded(ng-src='{{file.fileDetails.thumbnail}}')
                        .letter-box.media-object.img-rounded(ng-if='!file.fileDetails.thumbnail')
                            | {{file.fileDetails.type.slice(0,1) || 'N'}}
    h6.text-warning(ng-show="!obj.assets.length") Nothing to show, Please Add Assets using the Add Asset button in Top Menu bar

.panel.panel-danger(ng-if="fn.editMode")
    .panel-heading
        .panel-title Rename or delete files, tap Done when completed
            a.pull-right(ng-click='fn.edit()'):  strong.text-success  Done
    ul.list-group
        li.list-group-item(ng-repeat='name in names')
            form.row(name="editform")
                .form-group.col-xs-10(ng-class="editform.$dirty?'':fieldStatus")
                    .input-group.col-xs-12
                        input.form-control(type='text', ng-model='name.name')
                        span.input-group-addon(ng-bind="name.ext", ng-hide="editform.$dirty")
                        span.input-group-btn(ng-click='fn.rename($index)', ng-show="editform.$dirty")
                            a.btn.btn-success(type="button") SAVE
                .col-xs-2
                    button.btn.btn-danger.pull-right(ng-click='fn.delete($index)')
                        i.fa.fa-times.fa-lg
