
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i></button><a href="http://pisignage.com" target="_self" class="navbar-brand"><img src="app/img/pisignage-logo.png" height="32px"/></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul style="margin-left:20px;" class="nav navbar-nav">
        <li ng-class="getClass('home.assets.asset')"><a ui-sref="home.assets.assets" ui-sref-opts="{reload: true}">Assets</a></li>
        <li ng-class="getClass('home.assets.playlist')"><a ui-sref="home.assets.playlists" ui-sref-opts="{reload: true}">Playlists</a></li>
        <li ng-class="getClass('home.players')"><a ui-sref="home.players.players" ui-sref-opts="{reload: true}">Players</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form">
            <input type="text" placeholder="Search" ng-model="search.$" class="form-control"/>
          </form>
        </li>
        <li dropdown="dropdown" ng-show="getClass('home.assets')" class="dropdown">
          <button dropdown-toggle="dropdown-toggle" class="btn btn-danger dropdown-toggle navbar-btn"><i class="fa fa-plus">&nbsp;Create Asset</i></button>
          <ul role="menu" class="dropdown-menu">
            <li>
              <nodeims-file-upload onstart="upload.functions.onstart()" onprogress="upload.functions.onprogress(percentDone)" onerror="upload.functions.onerror(files, type, msg)" ondone="upload.functions.ondone(files, data)">Upload Files</nodeims-file-upload>
            </li>
            <li><a ng-click="upload.functions.link()" class="btn btn-link btn-block">Add a Link</a></li>
            <li><a ng-click="upload.functions.configureGCalendar()" class="btn btn-link btn-block">Add Calendar</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div ui-view="main" autoscroll="false" class="container height100 overflow-hidden">
  <!--.row.height100.overflow-hidden(autoscroll="false")
  .col-sm-3.height100.overflow-auto
      div(ui-view="left1", autoscroll="false")
      div(ui-view="left2", autoscroll="false")
  .col-sm-9.height100.overflow-auto(autoscroll="false")
      div(ui-view="main1", autoscroll="false")
      div(ui-view="main2", autoscroll="false")
      div.height100.overflow-hidden(ui-view="asset", autoscroll="false")
  -->
</div>