.panel.panel-info
    .panel-heading
        .row
            .col-sm-7
                h3.panel-title {{selected.playlist.name}} Settings
                    a.btn.btn-link(ng-click="collapsed = !collapsed;")
                        i.fa.fa-lg(ng-class="{'fa-chevron-circle-right':collapsed,'fa-chevron-circle-down':!collapsed}")
            .col-sm-3.pull-right
                a.btn.btn-primary.pull-right(ui-sref="home.assets.playlistAddAssets({playlist:selected.playlist.name})",
                                                ui-sref-opts="{reload: true, notify: true}") Add/Edit Playlist Assets
    .panel-body(ng-show="!collapsed")
        form.form-horizontal
            .form-group
                label.control-label.col-sm-4.text-muted Selected Layout for the playlist&nbsp;
                .col-sm-8
                    .btn-group
                        button.btn.btn-default
                            strong {{selected.playlist.layout}}
                            span.text-muted :{{layouts[selected.playlist.layout].title}}
                        button.btn.btn-info(ng-click="openLayout ()") Change
            .form-group
                label.control-label.col-sm-4.text-muted Add a Ticker Message
                .col-sm-8
                    .input-group
                        input.form-control( name='ticker_messages',
                                                    ng-model='selected.playlist.settings.ticker.messages',
                                                    placeholder="Type in the Ticker message")
                        .input-group-btn
                            button.btn.btn-info.pull-right(ng-click='saveSettings()')
                                i.fa.fa-check
            .form-group
                label.control-label.col-sm-4.text-muted Make the playlist as Advertisement list
                .col-sm-8
                    .checkbox
                        label
                            input(type="checkbox",ng-model="selected.playlist.settings.ads.adPlaylist")
                            span Insert the assets of this playlist periodically like Advertisement

            .form-group(ng-show="selected.playlist.settings.ads.adPlaylist")
                label.control-label.col-sm-4.text-muted Insert Interval (seconds)
                .col-sm-8
                    input.form-control(type="number",ng-model="selected.playlist.settings.ads.adInterval")
            .form-group(ng-show="selected.playlist.settings.ads.adPlaylist")
                .col-sm-8.col-sm-offset-4
                    .checkbox
                            label
                                input(type="checkbox",ng-model='selected.playlist.settings.ads.noMainPlay')
                                span Play only in side/bottom zones&nbsp;
                                p.text-muted (still a dummy Main zone file need to be selected)
            .form-group
                .col-sm-8.col-sm-offset-4
                    button.btn.btn-info.btn-sm(ng-click='saveSettings()') Save


