
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-7">
        <h3 class="panel-title">{{selected.playlist.name}} Settings<a ng-click="collapsed = !collapsed;" class="btn btn-link"><i ng-class="{'fa-chevron-circle-right':collapsed,'fa-chevron-circle-down':!collapsed}" class="fa fa-lg"></i></a></h3>
      </div>
      <div class="col-sm-3 pull-right"><a ui-sref="home.assets.playlistAddAssets({playlist:selected.playlist.name})" ui-sref-opts="{reload: true, notify: true}" class="btn btn-primary pull-right">Add/Edit Playlist Assets</a></div>
    </div>
  </div>
  <div ng-show="!collapsed" class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-4 text-muted">Selected Layout for the playlist&nbsp;</label>
        <div class="col-sm-8">
          <div class="btn-group">
            <button class="btn btn-default"><strong>{{selected.playlist.layout}}</strong><span class="text-muted">:{{layouts[selected.playlist.layout].title}}</span></button>
            <button ng-click="openLayout ()" class="btn btn-info">Change</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4 text-muted">Add a Ticker Message</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input name="ticker_messages" ng-model="selected.playlist.settings.ticker.messages" placeholder="Type in the Ticker message" class="form-control"/>
            <div class="input-group-btn">
              <button ng-click="saveSettings()" class="btn btn-info pull-right"><i class="fa fa-check"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4 text-muted">Make the playlist as Advertisement list</label>
        <div class="col-sm-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="selected.playlist.settings.ads.adPlaylist"/><span>Insert the assets of this playlist periodically like Advertisement</span>
            </label>
          </div>
        </div>
      </div>
      <div ng-show="selected.playlist.settings.ads.adPlaylist" class="form-group">
        <label class="control-label col-sm-4 text-muted">Insert Interval (seconds)</label>
        <div class="col-sm-8">
          <input type="number" ng-model="selected.playlist.settings.ads.adInterval" class="form-control"/>
        </div>
      </div>
      <div ng-show="selected.playlist.settings.ads.adPlaylist" class="form-group">
        <div class="col-sm-8 col-sm-offset-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="selected.playlist.settings.ads.noMainPlay"/><span>Play only in side/bottom zones&nbsp;</span>
              <p class="text-muted">(still a dummy Main zone file need to be selected)</p>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-4">
          <button ng-click="saveSettings()" class="btn btn-info btn-sm">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>