
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Playlists<a ng-click="fn.edit()" class="btn btn-sm btn-link pull-right"><em ng-class="{'text-danger':!fn.editMode,'text-success':fn.editMode}">{{fn.editMode?'Done':'Edit'}}</em></a></h3>
  </div>
  <div class="form-group">
    <form name="addform" ng-submit="fn.add()">
      <div class="input-group col-xs-12">
        <input type="text" ng-model="newPlaylist.name" required="required" class="form-control"/><span class="input-group-btn">
          <button type="submit" class="btn btn-info"><i class="fa fa-plus"></i></button></span>
      </div>
    </form>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li ng-repeat="playlist in playlists" ng-class="fn.getClass(playlist)"><a ng-click="fn.selected(playlist)">
        <div class="row">
          <div class="col-sm-10"><small ng-hide="playlist.renameEnable &amp;&amp; fn.editMode">{{ playlist.name }}</small>
            <div ng-show="playlist.renameEnable &amp;&amp; fn.editMode" class="form-group">
              <input type="text" ng-model="playlist.newname" ng-blur="fn.rename($index)" class="form-control"/>
            </div>
          </div>
          <div class="col-sm-2">
            <button ng-click="$event.stopPropagation();fn.delete($index);" ng-if="fn.editMode" class="close"><i ng-class="{'text-danger': fn.editMode}" class="fa fa-times-circle"></i></button>
          </div>
        </div></a></li>
  </ul>
</div>