.panel.panel-info(ng-repeat="(playlist,obj) in filterPlaylistName(groupWiseAssets)")
    .panel-heading
        .row
            .col-sm-10
                h5.panel-title {{obj.playlist.name}}&nbsp;
                    span.badge {{obj.assets.length}}
                    span.text-muted &nbsp;(Drag to Add/Remove)
            .col-sm-2
                a.btn.btn-primary.pull-right(ng-click="done()") Done
    ul.list-group(as-sortable="sortable.options",ng-model="obj.assets",style="min-height:50px;")
        li.list-group-item(ng-repeat='file in obj.assets track by $index',as-sortable-item,
                                        ng-class='{"list-group-item-danger":file.deleted}')

                //a(ng-href="#").pull-left
                    img.media-object.img-rounded(ng-src='{{file.fileDetails.thumbnail}}')
                //.letter-box.media-object.pull-left.img-rounded(ng-if='!file.fileDetails.thumbnail')
                    | {{file.fileDetails.type.slice(0,1) || 'N'}}
                div(as-sortable-item-handle)
                    .row
                        .col-sm-9
                            h6 {{file.fileDetails.name }}
                        .col-sm-3.pull-right
                            h6(ng-if="(!file.playlistDetails || file.playlistDetails.isVideo) && file.fileDetails.duration > 0")
                                strong {{file.fileDetails.duration}} seconds
                            input.form-control.input-sm(ng-if="file.playlistDetails && !file.playlistDetails.isVideo",
                                                            type='number', ng-model='file.playlistDetails.duration',min="5",
                                                            ng-model-options="{ updateOn: 'blur' }",
                                                            ng-change="saveData()")
                    .row.text-danger(ng-show="obj.playlist.layout && obj.playlist.layout != '1'")
                        .col-sm-12
                            span(ng-show="obj.playlist.layout != '2ap'")
                                button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,'side')")
                                    span Side Zone:&nbsp; {{file.playlistDetails.side || "Select a file"}}
                                button.btn.btn-xs.btn-warning(ng-if="file.playlistDetails.side",
                                                                    ng-click="removeLinkFile(file,'side')") X
                            span(ng-show="obj.playlist.layout != '2a' && obj.playlist.layout != '2b'")
                                button.btn.btn-xs.btn-info(ng-click="linkFile(file.playlistDetails,'bottom')")
                                    span Bottom Zone: {{file.playlistDetails.bottom || "Select a file"}}
                                button.btn.btn-xs.btn-warning(ng-if="file.playlistDetails.bottom",
                                                                    ng-click="removeLinkFile(file,'bottom')") X
    h6.text-warning(ng-show="!obj.assets.length")
            | Nothing to show, Please Drag Assets to this box


