doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Server to manage piSignage players in a LAN or Private Network')
        meta(name='author', content='ariemtech')
        meta(name='copyright', content=', Copyright (c) 2015')
        link(rel='icon', href='app/img/pisignage-logo.png')
        title pisignage-server
        // Bootstrap core CSS
        link(rel='stylesheet', href='app/css/bootstrap.min.css')
        link(rel='stylesheet', href='app/css/lato.min.css')
        link(rel='stylesheet', href='app/css/font-awesome.min.css')
        link(rel='stylesheet', href='app/css/ng-sortable.min.css')
        link(rel='stylesheet', href='app/css/ng-sortable.style.min.css')
        link(rel='stylesheet', href='app/css/custom.css')

        script(src='app/lib/angular/angular.min.js')
        script(src='app/lib/angular-ui-router/angular-ui-router.min.js')
        script(src='app/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
        script(src='app/lib/ng-sortable/ng-sortable.min.js')
        script(src='app/lib/angularjs-dropdown-multiselect/lodash.min.js')
        script(src='app/lib/angularjs-dropdown-multiselect/angularjs-dropdown-multiselect.min.js')

        script(src='app/js/pi-config.js')
        script(src='app/js/controllers/pi-index.js')
        script(src='app/js/controllers/groups.js')
        script(src='app/js/controllers/assets.js')
        script(src='app/js/controllers/playlists.js')
        script(src='app/js/controllers/labels.js')
        script(src='app/js/directives/pi.js')
        script(src='app/js/services/pi.js')
        script(src='app/js/app-pc.js')

    body(ng-app="piServerApp")
        div.height100(ui-view="",autoscroll="false") Please wait while the app loads
