
<div class="modal-header">
  <h4>Select Display Orientation and Resolution</h4>
</div>
<div class="modal-body">
  <form role="form" name="formdisplay">
    <div class="form-group row">
      <div class="col-sm-4 text-right"><b>Resolution</b></div>
      <div class="col-sm-8">
        <select ng-options="entry.value as entry.name for entry in resolutions" ng-model="group.resolution" class="form-control">
          <option value="">-----------select resolution-----------</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4 text-right"><b>Orientation</b></div>
      <div class="col-sm-8">
        <select ng-options="entry.value as entry.name for entry in orientations" ng-model="group.orientation" class="form-control">
          <option value="">-----------select orientation-----------</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-click="displayModal.close()" class="btn">Cancel</button>
  <button ng-click="saveSettings()" class="btn btn-danger">OK</button>
</div>