
<div class="modal-header">
  <h4>File to be played in the {{selectedZone}} zone
    <button ng-click="modal.close()" class="btn btn-default pull-right">Done</button>
  </h4>
  <p>along with {{selectedAsset.filename}}</p>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">
      <input type="text" placeholder="Filter by Name" ng-model="search" class="form-control"/>
    </li>
    <li ng-repeat="file in allAssets['All'].assets | filter:search " ng-click="linkFileSave(file.fileDetails.name)" class="list-group-item">
      <div class="media">
        <div class="media-left"><a href="#" ng-if="file.fileDetails.thumbnail" class="pull-left"><img ng-src="{{file.fileDetails.thumbnail}}" class="media-object"/></a>
          <div ng-if="!file.fileDetails.thumbnail" class="media-object letter-box img-rounded pull-left">{{file.fileDetails.type.slice(0,1) || 'N' }}</div>
        </div>
        <div class="media-body">
          <div class="media-heading">
            <h4>{{file.fileDetails.name}}</h4>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>