
<div class="modal-header">
  <h3 class="text-warning">{{msg.title}} Status    </h3>
</div>
<div class="modal-body">
  <h4>{{msg.msg}}</h4>
  <div ng-if="msg.buttonText == 'Continue'">
    <hr/>
    <h5>Select Categories for the files</h5>
    <categories selected-labels="selectedLabels"></categories>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="upload.abort()" ng-show="msg.buttonText == 'Uploading' " class="btn btn-danger">Cancel</button>
  <button ng-click="upload.modalOk()" ng-bind="msg.buttonText" ng-disabled="msg.disable" class="btn btn-warning"></button>
</div>